<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#DB0000" />

    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Restaurant Apps</title>
    <meta name="description" content="JANGAN LUPA KALAU LAPAR MAKAN DI TEMPAT HAPPY MADANG" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <a href="#content" class="skip-link">skip</a>
    <nav class="navbar">
      <div tabindex="0" class="brand">
        <!-- Nama aplikasi-->
        <h1>Happy Madang</h1>
      </div>
      <button id="menu_hamburger" class="hamburger-btn">☰</button>
      <ul id="navigation_drawer" class="nav-menu">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.instagram.com/lailatulcaris/">About Us</a></li>
      </ul>
    </nav>

    <!-- Hero -->
    <div tabindex="0" class="hero">
      <div class="herro_in">
        <!-- <picture>
          <source media="(max-width: 600px)" srcset="../public/images/heros/hero-image_2.jpg" />
          <img src="../public/images/heros/hero-image_2.jpg" alt="Explore Culinary Wonders" />
        </picture> -->
        <h1 tabindex="0" class="hero_tit">Explore Culinary Wonders</h1>
        <p tabindex="0" class="hero_tag">Embark on an Epicurean Adventure - Uncover the Hidden Gems of Gastronomy!</p>
      </div>
    </div>

    <!-- content -->
    <main tabindex="0" id="content"></main>

    <!-- Footer -->
    <footer class="footer">
      <p tabindex="0">&copy; 2024 - Happy Madang</p>
    </footer>
  </body>
</html>
